th{
	background-color:grey; 
}

td,th{
	width: 100px;
	height: 12px;
}

table, td{
	border:solid grey;
}

table{
	width: 100%;
	border-collapse: collapse;
}
input{
	width: 100%;
	border:none;
	text-align: right; 
}